* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: #8bb0d7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f6baa6,
    #766da2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f6baa6,
    #766da2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  margin: auto;
}

.App {
  -webkit-text-size-adjust: none;
  color: #777777;
  box-sizing: inherit;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: 75em;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Outer-container {
  margin: 10px;
  height: 100%;
  width: 100%;
}

.Main-container {
  background-color: rgba(255, 255, 255, 0.26);
  border: 1px solid white;
  padding: 1.25em;
  border-radius: 10px;
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  z-index: 1;
}

.Sidebar {
  grid-area: sidebar;
  background: rgb(245, 231, 223);
  padding: 0.75em;
}
.Image-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
  width: 100%;
  margin: auto;
}

.text-gen-options {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: #f4f4f4;
  margin: 0.75em;
  padding: 0.75em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}
img {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
}
.icon-container {
  padding: 0.5em;
  display: flex;
  margin: 0.5em;
  gap: 1em;
}
.icon-container.active {
  background-color: rgba(255, 255, 255, 0.26);
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.icon {
  height: 44px;
  width: 44px;

  fill: white;
}
.icon.inactive {
  fill-opacity: 60%;
}
.icon.active {
}

.Translate-Widget {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}
.Feature-Header {
  -webkit-text-size-adjust: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0.5rem;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-weight: 400;
  color: #363636;
  font-size: 1.8em;
  letter-spacing: -0.015em;
  text-align: left;
}
textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #777777;
  font-size: 1rem;
  line-height: 1.75em;
  background: #f4f4f4;

  resize: none;
  width: 100%;
  padding: 0.25em;
  min-height: 10em;
}

input {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #777777;
  font-size: 1.2rem;

  border: 0;
  border-radius: 3px;
  background: #d5d3d3;

  width: 100%;
}

select {
  font-size: 0.9rem;
}
