html {
  height: 100%;
  color: black;
}

#root {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.App {
  background-color: white;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  box-sizing: border-box;
  color: #353740;
  color: var(--gray-800);
  display: flex;
  height: 100%;
}

.Outer-container {
  margin: 10px;
}

.Main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "content sidebar";
  flex-grow: 1;
  height: 100%;
}
.Content {
  background-color: rgb(10, 120, 194);
  width: 100%;
  grid-area: content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Sidebar {
  grid-area: sidebar;
  background: black;
}
.Image-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
  width: 100%;
  margin: auto;
}

.Text-Gen-Options {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
img {
  width: 100%;
}

/* input styling */
/* 
*,
*::before,
*::after {
  box-sizing: inherit;
}

label {
  position: relative;
}
label span {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  left: 16px;
  transform: translateY(calc(-100% + 8px)) scale(0.75);
  transform-origin: bottom left;
  opacity: 0.75;
  transition: transform 0.3s, opacity 0.3s;
  white-space: nowrap;
  pointer-events: none;
  color: blue;
}
label input {
  color: black;
  height: 56px;
  width: 320px;
  padding: 0 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #eee;
  border: none;
  border-bottom: 1px solid #aaa;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
}
label input:-moz-placeholder-shown + span {
  transform: translateY(0) scale(1);
}
label input:-ms-input-placeholder + span {
  transform: translateY(0) scale(1);
}
label input:placeholder-shown + span {
  transform: translateY(0) scale(1);
}
label::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transition: transform 0.3s;
  background-color: #1976d2;
  pointer-events: none;
}
label:focus-within::after {
  transform: scaleX(1);
} */
